App {
  font-family: sans-serif;
  text-align: center;
}
li {
  text-align: left;
}
li:hover {
  color: aquamarine;
  background-color: black;
  border: 2px solid;
  border-color: aquamarine;
}
body {
  /* width: 100%; */
  width: auto;
  height: 100%;
  background-color: cyan;
  /* color: aquamarine; */
  margin: 5px;
  padding: 15px;
  font-family: sans-serif;
  /* border: 4px solid;order-radius: 10px; */
  /* https://cdn.worldvectorlogo.com/logos/react-native-firebase-1.svg */
  background: url("https://cdn.worldvectorlogo.com/logos/react-native-firebase-1.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-attachment: scroll; */
  /* background-attachment: local; */
  background-size: cover;
  text-align: center;
}

nav {
  /* padding: 2px; */
  margin: 0;
  width: 96%;
  padding: 5px;
  border: 4px solid;
  border-radius: 10px;
  border-color: aqua;
  background-color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
  display: flex;
  justify-content: space-around;
}
nav:hover {
  border-color: yellow;
}
a {
  text-decoration: none;
  color: aquamarine;
  font-size: 20px;
  font-weight: 1000;
  margin: 5px;
}
a:hover {
  color: red;
}
#ghlink {
  color: red;
}
#ghlink:hover {
  color: green;
}
#lgotbtn {
  background-color: aquamarine;
}
#lgotbtn:hover {
  background-color: red;
  color: yellow;
  border-color: yellow;
}
/* --------------------------------------------------------------------------- */

#crpst {
  align-self: center;
  width: auto;
  height: auto;
  display: grid;
  background-color: black;
  color: gray;
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin: 5px;
  padding: 5px;
}
.crpslb {
  color: aquamarine;
}
.crpslb:hover {
  color: yellow;
}

#ld {
  color: aquamarine;
  background-color: black;
  border: 4px solid;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 10px;
}

#pppip {
  background-color: black;
  color: aquamarine;
  width: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  margin-left: 0px;
}
#pppip:hover {
  background-color: red;
  color: yellow;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
#pppip2 {
  background-color: black;
  color: aquamarine;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 2px solid;
  border-color: aquamarine;
}
#pppip2:hover {
  color: yellow;
  border-color: yellow;
}
#crpst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#crpst:hover {
  border-color: yellow;
}

#ipar {
  width: 90%;
  height: calc(100vh-50px);
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin-bottom: 5px;
  margin-top: 5px;
}

#ipar:hover {
  border-color: yellow;
}

#txar {
  width: 90%;
  height: calc(100vh-50px);
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin-top: 5px;
  margin-bottom: 8px;
}
#txar:hover {
  border-color: yellow;
}

#lgnbtn {
  align-self: center;
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 10px;
}
#lgnbtn:hover {
  color: yellow;
  background-color: red;
  border-color: yellow;
}
#pstbtn {
  align-self: center;
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  border-color: aquamarine;
}
#pstbtn:hover {
  border-color: yellow;
  color: yellow;
  background-color: red;
}
/* ------------------------------------------------------------------------------- */
#otdv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  /* padding: 15px; */
}

#indv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  margin-right: 15px;
  margin: 45px;
}

#ttl {
  /* text-align: center; */
  word-wrap: break-word;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  border-radius: 7px;
  margin-bottom: 4px;
}
#dlbtn {
  background-color: black;
  border-color: aquamarine;
  /* width: 100%; */
  padding-right: 5px;
  /* height: 37px; */
  margin-right: 25px;
}
#dlbtn:hover {
  padding-right: 5px;
  background-color: red;
  border-color: yellow;
  color: yellow;
  /* height: 37px; */
  margin-right: 25px;
}
#pgnt {
  background-color: black;
  color: white;
}
#pgnt:hover {
  background-color: red;
  color: yellow;
}
#pst {
  word-wrap: break-word;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  /* we want scroll bar to appear after certain size of post((suppose post is very large)) */
  height: auto;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 4px;
}

#ath {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  height: 20px;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ml {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  height: 20px;
  border-radius: 7px;
  margin-top: 4px;
  margin-bottom: 2px;
}

hr {
  width: 100%;
  border: 1px solid black;
}

@media (max-width: 768px) {
  #indv {
    width: 100%;
  }
}
.sml {
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 6px;
  border: 2px solid;
}
.sml:hover {
  color: yellow;
  border-color: yellow;
}
